@model  IEnumerable<OdeToFood.Models.RestaurantListView>
@{
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("Add New Restaurant", "Create")
<h2>List Of Restaurants</h2>
<hr />
<form method="get">
    Search : <input type="text" name="searchTerm" /> <input type="submit" value="Go" />
</form>
@foreach (var item in Model)
{
    <h3>@item.Name</h3>
    <div>
        <h4>@item.City, @item.Country</h4>
    </div>
    <div>
        @item.ReviewCount Reviews So Far.
    </div>
    <hr />
}
